extends layout

block content
    p Look at our delicious selection of #{title} 
        header
            div
                if title == "Sandwiches"
                    img(src="/Images/b.png", alt="Monster Sandwich",style='width:40%')
                    img(src="/Images/Burgers.png", alt="Monster Sandwich",style='width:40%')

                if title == "Beverages"
                    img(src="/Images/Burgers.png", alt="Drink", style="width:40%")

                if title == "Fries"
                    img(src="/Images/Burgers.png", alt="Drink", style="width:40%")

                if title == "Sides"
                  //  img(src="/Images/Burgers.png", alt="Sides", style="width:40%")
          
          
            
            